@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NameBanner {
  font-family: 'Staatliches';
  font-size: 6.5vw;
  color: #FFF500;
  margin: 0in;
}

a {
  padding: 1vw;
  font-size: 1vw;
  font-family: 'Marvel';
  color: #FFF500;
}

.NameSubtitle {
  font-family: 'Marvel';
  font-size: 2vw;
  margin-top: -1.5vw;
  margin-bottom: 1vw;
  color: #FFF500;
}

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MenuDiv {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #7814DC 100%);
}